# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Scraped Data
pyqbox_data/
*.log
*.tmp
*.pid
*.png
.playwright-mcp/

# Environment & IDE
.env
.idea/
.vscode/
